aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==23.1.0
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
blinker==1.6.2
boto3==1.26.115
botocore==1.29.115
brotlipy==0.7.0
chardet==3.0.4
charset-normalizer==3.1.0
click==8.1.3
clyent==1.2.2
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
daal4py==2023.0.2
datashape==0.5.4
datetime2==0.9.4
filelock==3.12.2
flake8 @ file:///croot/flake8_1674581792275/work
Flask==2.3.2
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
flit_core @ file:///opt/conda/conda-bld/flit-core_1644941570762/work/source/flit_core
fonttools==4.25.0
frozenlist==1.3.3
gunicorn==20.1.0

inflection==0.5.1

itsdangerous==2.1.2


MarkupSafe==2.1.2

mypy-extensions==0.4.3
navigator-updater==0.3.0
openpyxl==3.0.10
pandas==1.5.3

patsy==0.5.3
pep8==1.7.1

pycurl==7.45.1
PyDispatcher==2.0.5

PyJWT==2.6.0

queuelib==1.5.0
requests==2.22.0
scipy==1.10.0


torch==1.12.1

urllib3==1.25.11
uuid==1.30
virtualenv==20.23.1
Werkzeug==2.3.3

yarl==1.9.2
zict==2.1.0

